.btn-covid{
  background: #055bb7 !important;
  color: #fff;
}

/* .btn-covid::before{
  content:"";
  position:absolute;
  left:-30px;
  top: 0;
  width: 0; 
  height: auto; 
  border-left: 30px solid transparent;
  border-right: 0 solid transparent;
  border-top: 0px solid transparent;
  border-bottom: 40px solid #055bb7;
  z-index:-1;
  height: 100%;
}

.btn-covid:hover::before{
  border-bottom: 40px solid #054f9e;
} */

.btn-covid i{
  margin-right: 5px;
}

.btn-covid.active,
.btn-covid:active,
.btn-covid:hover{
  background: #054f9e !important;
  color: #fff !important;
}

.btn-whatsapp{
  position: relative; 
  border-radius: 25px; 
  overflow: visible; 
  height: 80%;
  text-align: center;
  border: 0;
  display: flex;
  background: #06ca06 !important;
  background: linear-gradient(180deg, rgb(14, 226, 14), rgba(38, 107, 11, 0.788)) !important;
}

.btn-whatsapp span{
  margin-top: -2px !important;
}

.btn-whatsapp i{
  position: relative; 
  margin-right: 5px;
  /* left: 0; 
  bottom: -1px; 
  font-size: 26px !important; */
}

.btn-resultonline {
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  display: inline-block;
  padding: 11px 15px !important;
  border-radius: 50px;
  transition: 0.3s;
  line-height: 1;
  background: #055bb7 !important;
  color: #fff !important;
  border: 2px solid #055bb7;
}

.btn-resultonline:hover {
  background: #054f9e !important;
  color: #fff !important;
}

.btn-resultonline {
  margin-left: 15px;
}

.btn-round-50{
  border-radius: 50px !important;
}

.sede-selector {
  font-size: 16px;
  letter-spacing: 0.5px;
  display: inline-block;
  padding: 16px 15px !important;
  border-radius: 50px;
  transition: 0.3s;
  line-height: 1;
  border: 1px solid #e1e1e1;
  color: #646465;
}


.btn-servicios{
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  display: inline-block;
  padding: 16px 15px !important;
  border-radius: 50px;
  transition: 0.3s;
  line-height: 1;
  background: #055bb7 !important;
  color: #fff !important;
  border: 2px solid #055bb7;
}


.btn-outline-yellow{
  border: 1px solid #f6c500;
  color: #f6c500;
}
.btn-outline-yellow:hover{
  border: 1px solid #f6c500 !important;
  background: #f6c500 !important;
  color: #fff !important;
}



/* Estilos de los inputs */
.btn-famisalud{
  background: #055bb7;
  color: #fff ;
  border: 2px solid #055bb7;
}

.btn-famisalud:hover{
  background: #054f9e !important;
  color: #fff !important;
  border: 2px solid #054f9e !important;
}

.round-50{
  border-radius: 50px !important;
}

.round-20{
  border-radius: 20px !important;
}

.pd-15{
  padding: 16px 15px;
  line-height: 1em;
}